<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Transaction - Bank Of India</title>
    <link rel="icon" href="../static/assets/img/favicon/favicon.ico" />
    <link rel="stylesheet"href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/fonts/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/fonts/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/fonts/fontawesome5-overrides.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">

</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="{{url_for('index')}}">
                    <div class="sidebar-brand-icon"><i class="fas fa-credit-card"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Bank of India</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link " href="{{url_for('index')}}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>

                    <li class="nav-item"><a class="nav-link" href="{{url_for('transhis')}}"><i class="fas fa-table"></i>&nbsp;Transaction History</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button></div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Transaction Panel</h3>
                    <div class="row mb-3">

                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Sender Details</p>
                                        </div>
                                        <p style="color: rgb(0,0,0);margin-bottom: 10px;">&nbsp; &nbsp;Name :{{value1}}</p>
                                        <p style="color: rgb(0,0,0);margin-bottom: 10px;">&nbsp; &nbsp;ID : {{value2}}</p>
                                        <p style="color: rgb(0,0,0);margin-bottom: 10px;">&nbsp; &nbsp;Email : {{value3}}</p>
                                       <p style="color: rgb(0,0,0);">&nbsp; &nbsp;Current Balance : {{value4}}</p>
                                        <div class="card-body">
                                            <form action="{{ url_for('transact') }}" method="post" autocomplete="off">
                                                <div class="form-row">
                                                    <div class="form-group"><input type="hidden" name="pname" value="{{value1}}"/></div>
                                                    <div class="form-group"><input type="hidden" name="pbal" value="{{value4}}"/></div>
                                                    <div class="col">

                                                        <div class="form-group"><label for="reciever"><strong>Receiver </strong></label><input class="form-control" type="text" name="reciever" placeholder="Username"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="amount"><strong>Amount to be transferred</strong></label><input class="form-control" type="text" name="amount" placeholder="Amount"></div>
                                                    </div>
                                                </div>
                                                <div class="msg">{{ msg }}</div>
                                                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">&nbsp;Transfer Money</button></div>
                                            </div>

                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow"></div>
                            </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
              <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Bank Of India 2021</span></div>
              </div>
            </footer>
            <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        </div>
    </div>
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/chart.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/bs-init.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static',filename='assets/js/theme.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
</body>

</html>
